@import '../variables/colors.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 115px;

  hr {
    width: calc(80% + 50px);
    border: solid 1px $gray_border;
  }
}

.bookList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.bookCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 10rem;
  padding: 8px 25px;
  background-color: #fff;
  border: 0.125rem $gray_border solid;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);

  * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;

    .bookInfo {
      display: flex;
      flex-direction: column;
      gap: 2px;

      h2 {
        color: $black;
        margin: 0;
      }

      .author {
        font-weight: 300;
        margin: 0;
        color: $blue_light;
      }

      .category {
        margin: 0;
        margin-bottom: 5px;
        font-weight: bold;
        color: $gray;
      }
    }

    .bookActions {
      display: flex;
      flex-direction: row;
      margin-top: 13px;

      button {
        font-size: 16px;
        font-weight: 300;
        color: $blue_light;
        padding: 5px 15px;
        border: 0;
        background-color: rgba(255, 255, 255, 0);
        border-left: solid 2px $gray_border;
      }

      :first-child {
        padding-left: 0;
        border-left: 0;
      }

      button:hover {
        cursor: pointer;
        color: $black;
      }
    }
  }
  .progression {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
    width: 12rem;
    
    .circle {
      position: relative;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 0 5px $blue_high;
      margin-right: 1.13rem;
    }

    p {
      color: $gray;
      margin: 0;
      font-size: 0.875rem;
    }

    .percentage {
      font-size: 2rem;
      color: $black;
    }
  }

  hr {
    height: 4.25rem;
    width: 0;
    margin-left: 5%;
    margin-right: 5%;
  }

  .chapters {
    margin-left: 0;
    width: 25%;

    p {
      font-size: 0.813rem;
      font-weight: 300;
      color: $gray;
    }

    .currentChapter {
      font-size: 1rem;
      color: $black;
    }

    button {
      font-size: 0.813rem;
      font-weight: bold;
      letter-spacing: 0.5px;
      text-align: center;
      color: #fff;
      width: 11.5rem;
      padding: 0.801rem 1.188rem 0.886rem 1.375rem;
      border-radius: 3px;
      border: 0;
      background-color: $blue_high;
    }
  
    button:hover {
      cursor: pointer;
      filter: grayscale(33%);
    }
  }
}
