@import '../variables/colors.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 115px;

  hr {
    width: calc(80% + 50px);
    border: solid 1px $gray_border;
  }
}

.bookList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.bookCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 10rem;
  padding: 8px 25px;
  background-color: #fff;
  border: 0.125rem $gray_border solid;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);

  * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .bookInfo {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h2 {
        color: $black;
        margin: 0;
      }

      .author {
        font-weight: 300;
        margin: 0;
        color: $blue_light;
      }

      .category {
        margin: 0;
        margin-bottom: 5px;
        font-weight: bold;
        color: $gray;
      }
    }

    .bookActions {
      display: flex;
      flex-direction: row;

      button {
        font-size: 16px;
        font-weight: 300;
        color: $blue_light;
        padding: 5px 15px;
        border: 0;
        background-color: rgba(255, 255, 255, 0);
        border-left: solid 2px $gray_border;
      }

      :first-child {
        padding-left: 0;
        border-left: 0;
      }

      button:hover {
        cursor: pointer;
        color: $black;
      }
    }
  }
  .progression {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
    
    .circle {
      position: relative;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 0 5px $blue_high;
      margin-right: 25px;
    }

    p {
      color: $gray;
      margin: 0;
      font-size: 0.875rem;
    }

    .percentage {
      font-size: 2rem;
      color: $black;
    }
  }

  hr {
    height: 4.25rem;
    width: 0;
  }
}
